<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body class="h-full min-h-screen bg-gray-50 px-4 dark:bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] dark:from-gray-700 dark:via-gray-900 dark:to-black ">
{{ partial "ga-body.html" . }}
<div class="max-w-4xl mx-auto">
    {{- partial "header.html" . -}}
    <div class="py-4 prose max-w-4xl dark:prose-invert mx-auto">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
</div>
</body>
</html>
