{{ define "main" }}
<h1>Blogs</h1>
<div>
  Dev articles are published here: https://dev.to/matusstafura
  <h3>Latest Articles</h3>
  {{ .Content }} {{ range .Pages }}
  <article
    class="bg-white p-8 shadow border border-gray-100 max-w-none prose-stone dark:prose-invert w-full mx-auto h-fit dark:prose-invert prose-img:mx-auto">
      <div class="mb-4">
        <a href="{{ .Permalink }}" class="text-xl font-semibold tracking-wide" >{{ .Title }}</a >
      </div>
    <div class="font-light text-gray-500 dark:text-gray-200">
      {{ .Params.short }}
    </div>
    <div class="mt-4 text-sm">
      <span class="flex mb-2 font-bold tracking-tight text-gray-500 dark:text-gray-300" >{{ .Params.Author }}</span >
      <span class="font-light text-gray-500 text-md dark:text-gray-300" >{{ .PublishDate.Format "January 2, 2006" }}</span >
    </div>
  </article>
  {{ end }}
</div>
{{ end }}
