{{ define "main" }} {{ $permalink := .RelPermalink }}

<div class="relative flex">
    <article
            class="p-8 shadow border dark:py-8 bg-white dark:bg-inherit max-w-none prose-stone w-full mx-auto h-fit dark:prose-invert prose-img:mx-auto"
    >
        {{ $title := .Params.title }}
        <h1 class="font-bold">{{ $title }}</h1>
        {{ if .Date }}
        <p class="text-sm !mb-8"> {{ .Date.Format "January 2, 2006" }} </p>
        {{ end }}
        {{ with .Params.images }}
        {{- range first 1 . }}
        <img
                class="max-w-full mx-auto mb-4 rounded"
                src="{{ . }}"
                alt="{{ $title }}"
        />
        {{ end -}}
        {{ end }}
        {{ .Content }}

        tags: {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">#{{$name}}</a><sup>{{$cnt}}</sup>
        {{end}}
        {{end}}
    </article>
</div>

{{ end }}
