<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ .Site.Params.person.name | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "image": {{ printf "%s%s" .Site.BaseURL .Site.Params.person.image | jsonify }},
  "jobTitle": {{ .Site.Params.person.jobTitle | jsonify }},
  "worksFor": {
    "@type": "Organization",
    "name": {{ .Site.Params.person.company | jsonify }}
  },
  "knowsLanguage": {{ .Site.Params.person.languages | jsonify }},
  "knowsAbout": {{ .Site.Params.person.skills | jsonify }},
  "sameAs": {{ .Site.Params.person.sameAs | jsonify }}
}
</script>
