<section>
{{ with .Params.feature }} {{ if .enable }}{{ .title}} {{ range .feature_item }}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 border-b">
    <div>
      <a href="{{ .link }}" target="_blank">
        <img src="{{ .image }}" alt="TailCake" class="shadow-xl">
      </a>
    </div>
    <div>
      <h3>{{ .title }}</h3>
      <p class="py-4">{{ .description }}{{ if .link }}<br/><br/> <a href="{{ .link }}">{{ .link }}</a>{{ end }}</p>
    </div>
  </div>
{{ end }} {{ end }}{{ end }}
</section>
