<footer>
  <div class="container flex justify-between py-8 mx-auto text-sm text-gray-500 dark:text-gray-100">
    <div class="flex">&copy; 2023 stafura.dev</div>
    <div class="flex">
      {{ $currentPage := . }}
        {{ range .Site.Menus.footer }}
            <a class="pl-4 font-light hover:text-blue-400 sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </div>
  </div>
</footer>
