<head>
    {{ partial "ga-head.html" . }}

    <title>{{ block "title" . }} {{- .Title }} - {{ .Site.Title -}} {{ end }}</title>
    <meta name="title" content="{{- .Title }} - {{ .Site.Title -}}">
    <meta name="description" content="{{- .Description -}}">

    <!-- View Type -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Seo -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@matusstafura" />
    <meta name="twitter:creator" content="@matusstafura" />
    <meta name="twitter:image" content="{{- .Description }}" />

    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{- .Title }}" />
    <meta property="og:description" content="{{- .Description }}" />
    {{if .Params.Image}}<meta property="og:image" content=" {{- .Params.Image | absURL}}" />{{ end }}

    <!-- Favicons -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <link rel="stylesheet" href="{{ "/css/styles.css" | absURL}}" />
    {{- if .Params.Author }}
    <meta name="author" content="{{ .Params.Author}}"/>
    {{ end -}}
</head>
