<header class="">
    <div class="md:flex items-end w-full py-4">
        <p class="text-2xl font-bold dark:text-white">
            <a href="{{ .Site.BaseURL }}">Matus Stafura</a>
        </p>
        <div class="hidden ml-auto lg:flex">
            <nav class="hidden dark:text-white lg:block">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="pl-4 font-light hover:text-blue-400 sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>
        <div class="ml-auto flex border-slate-900/10 dark:border-slate-50/[0.06] lg:hidden">
            <nav>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="pr-4 font-light hover:text-blue-400 sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>
    </div>
</header>
