body {
  font-family: "Inter", sans-serif;
}

p {
  font-size: 1rem;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}
