body {
  font-family: "IBMPlexSans-Regular", sans-serif !important;
}

article > *{
  font-size: 1.2rem !important;
}

h1 {
  font-family: "IBMPlexSans-Bold", sans-serif !important;
  font-size: 2.5rem !important;
}

h2 {
  font-family: "IBMPlexSans-Medium", sans-serif !important;
  font-size: 2rem !important;
}

h3 {
  font-family: "IBMPlexSans-Bold", sans-serif !important;
  font-size: 1.3rem !important;
}

strong {
  font-family: "IBMPlexSans-SemiBoldItalic", sans-serif !important;
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  font-display: swap;
  src: url("/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  font-display: swap;
  src: url("/fonts/IBMPlexSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  font-display: swap;
  src: url("/fonts/IBMPlexSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  font-display: swap;
  src: url("/fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
}
