{{ with .Page.Params.horizontal_card }}
{{ if .enable }}
<section class="space-y-8">
  {{ range .feature_item }}
  <div class="md:flex bg-white dark:bg-gray-800 rounded shadow space-x-8">
    <div class="w-1/2">
      <picture>
        <source type="image/webp" srcset="{{ replaceRE `\.(jpe?g|png)$` ".webp" .image }}">
        <img src="{{ .image }}" loading="lazy" decoding="async" alt="{{ .title }}" width="480" height="270" class="m-0">
      </picture>
    </div>
    <div class="w-1/2 p-4">
      <h3>{{ .title }}</h3>
      <div class="text-slate-500 dark:text-gray-300">{{ .description }}</div>
      <div class="py-8">
        {{ if .link }}<a href="{{ .link }}" class="px-6 no-underline py-3 bg-primary-500 rounded shadow-md text-white hover:underline">
          {{ .button | default "Read more ..."}}</a>{{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
{{ end }}
